/* Home and Universal Attributes*/
body {
  background-color:lightblue;
}

#main-nav {
  background-color: cornflowerblue;
  text-align: center;

  padding-right: 30px;
}

#main-nav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#main-nav ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 10px;
}

#main-nav li:hover {
  background-color: darkblue;
}

.main-container {
  text-align: center;
}

.button-85 {
  padding: 30px 60px 30px 60px;
  margin: 25px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.quoteBox {
  background-color: white;
  padding: 15px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 10px;
  border: 2px solid black;
}

.audioBox {
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
  text-align: left;
  padding: 20px;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer button{
  padding: 15px 75px 15px 75px;
  margin: 10px;
  font-size: 15px;
  border-radius: 10px;
}

/*Stocks*/
.stocks-content {
  text-align: left;
}

.stockChart {
  width: 100%;
}